<div class="col-lg-6 col-md-6">
  <div *ngIf="post" class="post border">
   
    <div *ngIf="post.text" class="post-content">
      {{ post.text }}
    </div>
    <div *ngIf="post.media" class="post-content">
      <ng-container [ngSwitch]="getMediaType(post.media)">
        <img *ngSwitchCase="'image'" [src]="post.media" alt="Image" />
        <video *ngSwitchCase="'video'" controls>
          <source [src]="post.media" type="video/mp4" />
        </video>
        <audio *ngSwitchCase="'audio'" controls>
          <source [src]="post.media" type="audio/mp3" />
        </audio>
        <div *ngSwitchDefault>Unsupported media type</div>
      </ng-container>
    </div>
  </div>

  <div class="card post">
    <form (ngSubmit)="onSubmit()">
      <div class="m-3">
        <label for="reportReason">Reason for Report:</label>
        <textarea
          class="form-control"
          id="reportReason"
          rows="5"
          placeholder="Provide details about why you are reporting this post"
          [(ngModel)]="reportText"
          name="reportText"
        ></textarea>
      </div>
      <input type="submit" class="btn btn-primary" value="Report Post" />
    </form>
  </div>
</div>
