<nav class="rounded">
  <div class="nav-left">
    <img
      src="../../assets/images/MediaBoxLogo_CMYK-01.png"
      class="logo"
      alt="Logo"
    />
  </div>

  <div class="nav-middle">
    <a href="/dashboard">
      <em class="bi bi-house-door-fill" style="color: rgb(23, 114, 250)"></em>
    </a>

    <a href="/dashboard/add-posts">
      <em
        class="bi bi-file-plus-fill heart-animate"
        style="color: rgb(32, 75, 124)"
      ></em>
    </a>
    <a href="/dashboard/friend-request">
      <em class="bi bi-heart-fill" style="color: rgb(236, 26, 54)"></em>
    </a>
  </div>
  <div class="nav-right">
    <button class="btn btn-dark" (click)="logout()">Logout</button>
  </div>
</nav>
